<div class="backFrame">
  <div class="row heading poly-regular-italic">
    <p><%= heading %></p>
  </div>

  <div class="row content cormorant-sc-regular">
    <p><%= content %></p>
  </div>

  <div class="row dayFrame">
    <div class="col-3 dayStyle poly-regular-italic"><%= day %></div>
    <div class="col-9">
      <div class="row dateStyle castoro-titling-regular"><%= dayOfWeek %></div>
      <div class="row monthStyle castoro-titling-regular"><%= month %></div>
      <div class="row yearStyle castoro-titling-regular"><%= year %></div>
    </div>
  </div>
</div>
